@media(min-width:768px){
    .form-group{
        display: none;
        position:absolute;
        width: 250px;
        right: 0;
        top: 43px;

    }  
    .header-top .container .social{
        display: inline-block;
    }
    .header-top p{
        display:block;
        color: white;
        font-size: 8px;
        
        
    }
    .header-top .header-div{
        float:right;
    }

}



@media(min-width:992px){

}




@media(min-width:1200px){

    .form-group{
        display: none;
        position:absolute;
        width: 250px;
        right: 0;
        margin-top: 25px;

    }
}



