/*
    font-family: 'Source Sans Pro', sans-serif;

    font-family: 'PT Sans', sans-serif;

    font-family: 'Playball', cursive;

    font-family: 'PT Serif', serif;
*/

.navbar-brand >img{
    position:relative;
    top: -17px;
}
a:focus{
    outline: none;
}


.navbar-header{
   
    padding: 5px 0;
}
.search{
    position:relative;
}

.form-group{
    display:none;
    position:absolute;
    top:6px;
    right:7px;
    width: 250px;
}
.header-top{
    background-color: #d25513;
}

.header-top p{
    display: none;
}
.header-top .header-div{
    text-align: right;
}
.dropdown-menu {
    width: 100%;
    left: -100px;
}
main .background{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
   
    
}
.bx-wrapper .bx-pager.bx-default-pager a{
    width:50px;
    height:50px;
    border-radius:50%;
    background: url('style-img/plate-01.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a:focus
{
   background: none;
   
   background: url('style-img/plate-01.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: .3;
}
.bx-wrapper .bx-pager-item {
   
    display: block;
}
.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
    position: absolute;
    top: 40%;
    left: 80%;
}



main .slider{
    position: relative;
}
main .text{
    position: absolute;
    text-align: center;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
main .text h3{
    font-family: 'Playball', cursive;
}
main .slider figure{
   
    width: 250px;
    margin-top: 75px;
    margin-left: 25px;

}